.received__container{
    background: rgb(189, 189, 189);
    min-height: 100vh;
    max-height: auto;
    
    .received__header{
    width: 90%;
    margin: auto;
    padding-top: 20px ;
    margin-bottom: 20px;
    font-weight: 600;
    display: flex;
    list-style: none;
    text-align: center;
    align-items: flex-end;
    border-bottom: 2px solid rgba(0, 0, 0, 0.329);
    li{
        width: 100%;
        padding: 10px;
        margin: 5px 0px;
    }
    li:nth-child(1){
        margin-bottom:12px;
        width: 60px;
    }
    
    }
    
}
@media screen and (min-width: 1000px){
    .received__container{

        .received__header{
            width: 60%;
        }
        
} 
}
