
       .navbar__container{
        width: 100%;
        height: 50px;
        display: grid;
        grid-template-columns: 0px 1fr  1fr 1fr 1fr;
        grid-template-rows: 0px 50px;
        border-top-right-radius: 0%;
        font-weight: 800;
        font-size: 3.5vw;
        background: rgb(0, 0, 0);

        .navbar__img{
            grid-column: 1;
            grid-row: 2;
            height: 50px;
            background-image: url("../../imgs/Renaissance1.jpg");
            background-size: contain;
            background-position: center;
   
        } 

        .navbar__arrivals__background__light,
        .navbar__arrivals__background__dark,
        .navbar__departures__background__light,
        .navbar__departures__background__dark,
        .navbar__received__background__light,
        .navbar__received__background__dark{
            grid-row:2;
            width: 100%;
            height: 100%;
        }
        .navbar__arrivals__background__light{
            grid-column: 2;
            background: rgb(141, 141, 141);
        }
        .navbar__arrivals__background__dark{
            grid-column: 2;
            background: rgb(107, 107, 107); 
        }
        .navbar__departures__background__light{
            grid-column: 3;
            background: rgb(141, 141, 141);
        }
        .navbar__departures__background__dark{
            grid-column: 3;
            background: rgb(189, 189, 189);
        }
        .navbar__received__background__light{
            grid-column: 4;
            background: rgb(255, 255, 255);
        }
        .navbar__received__background__dark{
            grid-column: 4;
            background: rgb(189, 189, 189);
        }
        

        .navbar__arrivals__container{
            width: 100%;
            grid-column: 2;
            grid-row: 2;
            display: flex;
            text-align: center;
            a{
                color: rgb(0, 0, 0);
                text-decoration: none;
                height: 100%;
                width: 100%;
                padding-top:15px;
                padding-left: 4px;
                background: rgb(107, 107, 107);
            }
            
            .navbar__arrivals__right__corner{
                
                height: 50px;
                width: 50px;
                border-top-right-radius: 100%;
                background: rgb(107, 107, 107);
                
            }
            .navbar__arrivals__left__corner{
                
                height: 50px;
                width: 50px;
                border-top-left-radius: 100%;
                background: rgb(141, 141, 141);
                
            }
            
        }
        .navbar__departures__container{
            width: 100%;
            grid-column: 3;
            grid-row: 2;
            display: flex;
            text-align: center;
            a{
                color: rgb(0, 0, 0);
                text-decoration: none;
                height: 100%;
                width: 100%;
                padding-top:15px;
                padding-left: 4px;
                background: rgb(141, 141, 141);
            }
            
            .navbar__departures__right__corner{
                height: 50px;
                width: 50px;
                border-top-right-radius: 100%;
                background: rgb(141, 141, 141);
                
            }
            .navbar__departures__left__corner{
                height: 50px;
                width: 50px;
                border-top-left-radius: 100%;
                background: rgb(189, 189, 189);
                
            }
        }
        .navbar__received__container{
            width: 100%;
            grid-column: 4;
            grid-row: 2;
            display: flex;
            text-align: center;
            a{
                color: rgb(0, 0, 0);
                text-decoration: none;
                height: 100%;
                width: 100%;
                padding-top:15px;
                padding-left: 4px;
                background: rgb(189, 189, 189);
            }
            
            .navbar__received__right__corner{
                height: 50px;
                width: 50px;
                border-top-right-radius: 100%;
                background: rgb(189, 189, 189);
                
            }
            .navbar__received__left__corner{
                height: 50px;
                width: 50px;
                border-top-left-radius: 100%;
                background: rgb(255, 255, 255);
                
            }
        }
        .navbar__valet__container{
            width: 100%;
            grid-column: 5;
            grid-row: 2;
            display: flex;
            text-align: center;
            background: white;
            a{
                color: rgb(0, 0, 0);
                text-decoration: none;
                height: 100%;
                width: 100%;
                padding-top:15px;
                
            }
            
        }
}

@media screen and (min-width: 500px){
    .navbar__container{
        width: 100%;
        height: 60px;
        display: grid;
        grid-template-columns: 60px 1fr  1fr 1fr 1fr;
        grid-template-rows: 10px 50px;
        border-top-right-radius: 0%;
        font-weight: 800;
        font-size: 3vw;
        background: rgb(0, 0, 0);
    }
} 
@media screen and (min-width: 1000px){
    .navbar__container{
        width: 100%;
        height: 60px;
        display: grid;
        grid-template-columns: 60px 1fr  1fr 1fr 1fr;
        grid-template-rows: 10px 50px;
        border-top-right-radius: 0%;
        font-weight: 800;
        font-size: 2vw;
        background: rgb(0, 0, 0);
    }
} 

        