.flight__container{
    width: 90%;
    margin: auto;
    display: flex;
    list-style: none;
    text-align: center;
    li{
        width: 100%;
        background: rgba(255, 255, 255, 0.335);
        padding: 10px;
        margin: 5px 0px;
        font-weight: 600;
    }
    li:nth-child(2){
       padding-left: 30px
    }
    
    .flight__img{
        width: 30px;
        height: 30px;
        padding: 20px;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .flight__received{
        
        background: rgb(207, 207, 207);
        text-align: center;
        font-size: 17px;
        cursor: pointer;
    }
    .F9{
        background-image: url('../../../imgs/Frontier.png');   
    }
    .UA{
        background-image: url('../../../imgs/United.png');   
    }
    .AA{
        background-image: url('../../../imgs/American.png');   
    }
    .AS{
        background-image: url('../../../imgs/Alaska.png');   
    }
}
@media screen and (min-width: 1000px){
    .flight__container{
        
        
            width: 60%
        
} 
}