.valet__container{
    position: relative;
    z-index: 0;
    background: white;
    padding-top: 40px;
    height: 92vh;
    .valet__form{
        width: 80%;
        height: 400px;
        margin: auto;
        padding: 40px;
        background: rgba(134, 134, 134, 0.815);
        display: flex;
        flex-direction: column;
        input{
            margin: 20px auto;
            width: 80%;
            height: 40px;
            font-size: 30px;
            color: rgb(0, 0, 0);
            outline-color: rgba(255, 0, 0, 0);
            border: none;
            border-bottom: 2px solid black;
            background: rgba(158, 158, 158, 0);
        }
        input::placeholder{
            opacity: 0.6;
            color: white;
        }
        
        button{
            height: 50px;
            width: 80%;
            margin: 20px auto;
            font-size: 30px;
            background: rgb(177, 177, 177);
            border: 2px solid black;
            cursor: pointer;
            
            

        }
        button:hover,
        button:active{
            color: white;
            background: rgb(85, 85, 85);
        }
    }
    .valet__corner__logo{
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 60vh;
        width: 60vh;
        background: url("../../imgs/Renaissance2.webp");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        
        
    }
}
@media screen and (min-width: 800px){
    .valet__container{
        
        .valet__form{
            width: 40%;
        }
}
}